.user-info-detail label {
    position: static;
    font-size: 16px;
    color: black;
    display: inline;
}

.form-horizontal .control-label {
    padding-top: 0;
}

.side-bar {
    border: 1px solid #d3e0e9;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
}

body .w3-sidebar {
    position: static!important;
    display: inline-block;
}

.user-right-sidebar {
    display: inline-block;
}